// Core variables and mixins
// @import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";

// Reset and dependencies
@import "../bower_components/bootstrap/less/normalize.less";
// @import "../bower_components/bootstrap/less/print.less";
@import "../bower_components/bootstrap/less/glyphicons.less";

// Core CSS
@import "../bower_components/bootstrap/less/scaffolding.less";
@import "../bower_components/bootstrap/less/type.less";
@import "../bower_components/bootstrap/less/code.less";
@import "../bower_components/bootstrap/less/grid.less";
// @import "../bower_components/bootstrap/less/tables.less";
@import "../bower_components/bootstrap/less/forms.less";
@import "../bower_components/bootstrap/less/buttons.less";

// Components
// @import "../bower_components/bootstrap/less/component-animations.less";
// @import "../bower_components/bootstrap/less/dropdowns.less";
// @import "../bower_components/bootstrap/less/button-groups.less";
@import "../bower_components/bootstrap/less/input-groups.less";
// @import "../bower_components/bootstrap/less/navs.less";
// @import "../bower_components/bootstrap/less/navbar.less";
// @import "../bower_components/bootstrap/less/breadcrumbs.less";
// @import "../bower_components/bootstrap/less/pagination.less";
// @import "../bower_components/bootstrap/less/pager.less";
// @import "../bower_components/bootstrap/less/labels.less";
// @import "../bower_components/bootstrap/less/badges.less";
// @import "../bower_components/bootstrap/less/jumbotron.less";
// @import "../bower_components/bootstrap/less/thumbnails.less";
// @import "../bower_components/bootstrap/less/alerts.less";
// @import "../bower_components/bootstrap/less/progress-bars.less";
// @import "../bower_components/bootstrap/less/media.less";
// @import "../bower_components/bootstrap/less/list-group.less";
// @import "../bower_components/bootstrap/less/panels.less";
// @import "../bower_components/bootstrap/less/responsive-embed.less";
// @import "../bower_components/bootstrap/less/wells.less";
// @import "../bower_components/bootstrap/less/close.less";

// Components w/ JavaScript
// @import "../bower_components/bootstrap/less/modals.less";
// @import "../bower_components/bootstrap/less/tooltip.less";
// @import "../bower_components/bootstrap/less/popovers.less";
// @import "../bower_components/bootstrap/less/carousel.less";

// Utility classes
@import "../bower_components/bootstrap/less/utilities.less";
@import "../bower_components/bootstrap/less/responsive-utilities.less";

// Load in our overrides
@import "variables.less";
@import "bootswatch.less";

html, body {
  font-family: monospace;
}

.session-view {
  margin: 1em;
  border: 1px solid @table-border-color;
  padding: 1em;
  border-radius: 1em 0;
}

.input-view {
  aside {
    position: absolute;
    margin-right: 0.5em;
  }
  input {
    width: 100%;
    color: @text-color;
    outline: none;
    background: none;
  }
}

.stdout-view {
  pre {
    color: @text-color;
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
  }
  .inline-block {
    padding-right: 1em;
  }
}

.inline-block {
  display: inline-block;
}

#github-is-slow {
  top: 50%;
  left: 50%;
  border: 3px solid #fff;
  opacity: 0;
  position: fixed;
  background: #fff;
  margin-top: -128+3px;
  margin-left: -128+3px;
  border-radius: 50%;
}
