#session {
  .session-view {
    overflow-y: scroll;
    overflow-x: hidden;

    .stdout-view {
      pre {
        color: @text-color;
        border: 0;
        margin: 0;
        padding: 0;
        background: none;
      }

      .inline-block {
        padding-right: 1em;
      }

      .mdout-view pre {
        margin: 1em 0;
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 1em;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 0.5em;
      }
    }

    .input-view {
      padding-top: 1em;

      aside {
        margin-top: -1.5em;
        margin-right: 0.5em;
      }

      input {
        width: 100%;
        color: @text-color;
        outline: none;
        background: none;
      }

    }
  }
}
