---
---

@import "{{ site.theme }}";

/* Hide the GitHub footer */
footer {
    display: none !important;
}

/* Hide the GitHub header button */
header .button {
    display: none !important;
}

/* Hide the GitHub download bar */
.download-bar {
    display: none !important;
}